<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="five wide column">
          <h4 class="ui inverted header">Forms of NMs</h4>
          <div class="ui inverted link list">
            <a href="/analogies.html" class="item">Analogies</a>
            <a href="/representations.html" class="item">Representations</a>
          </div>
        </div>
        <div class="six wide column">
          <h4 class="ui inverted header">What is a Notional Machine?</h4>
          <p>A notional machine is a pedagogic device to assist the understanding of some aspect of programs or programming.</p>
        </div>
        <div class="five wide column">
          <h4 class="ui inverted header">About this Site</h4>
          <div class="ui inverted link list">
            <a href="/about.html" class="item">About</a>
            <a href="/developers.html" class="item">Information for Developers</a>
            <a href="/contributors.html" class="item">Information for Contributors</a>
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="/assets/images/logo.png" class="ui centered mini image">
    </div>
  </div>
