---
layout: default
---
<div class="ui container" style="margin-top: 100px; margin-bottom: 100px">
  <div class="ui grid">
    <div class="eight wide column">
      <h1 class="ui dividing header">
        {{ page.name }}
        <div class="sub header">
          {{ page.affiliation }}
        </div>
      </h1>
      <p>
        <i class="home icon"></i> <a href="{{ page.homepage }}">{{ page.homepage }}</a>
      </p>
      {{ content }}    
    </div>
    <div class="four wide column">
      <img class="ui medium rounded bordered image" src="/assets/images/author/{{ page.image }}">
    </div>
  </div>


  {% assign filtered_posts = site.nms | where: 'author', page.short_name %}
  {% if filtered_posts.size > 0 %}
  <h3 class="ui header">Collected Notional Machines</h3>

  <div class="ui list">
    {% for post in filtered_posts %}
      <a class="item" href="{{ post.url }}">
      <i class="right triangle icon"></i>
      <div class="content">
          <div class="header">{{ post.title }}</div>
          <div class="description">{{ post.Form }}</div>
      </div>
      </a>
    {% endfor %}
  </div>
  {% endif %}

</div>
