---
layout: default
---
<div class="ui container" style="margin-top: 100px; margin-bottom: 100px">

  <h1 class="ui dividing header">{{ page.name }}</h1>

  {{ content }}

  <h3 class="ui header">Collected Notional Machines</h3>

  <div class="ui list">
    {% assign filtered_posts = site.nms | where: 'author', page.short_name %}
    {% for post in filtered_posts %}
      <a class="item" href="{{ post.url }}">
      <i class="right triangle icon"></i>
      <div class="content">
          <div class="header">{{ post.title }}</div>
          <div class="description">{{ post.Form }}</div>
      </div>
      </a>
    {% endfor %}
  </div>

</div>
