---
layout: default
---
<div class="ui container" style="margin-top: 100px; margin-bottom: 100px">

  <h1 class="ui dividing header">
    {% if page.sequence %}
    {{ page.sequence }}
    &mdash;
    <span style='color: #2185d0'>{{ page.Step }}. {{ page.StepTitle }}</a>
    {% else %}
    {{ page.title }}
    {% endif %}
  </h1>

  {% if page.sequence %}
    {% assign sorted_nms = site.nms | where: "sequence", page.sequence | sort_natural: 'Step' %}
    <div>
      {{page.sequence}} is a sequence consisting of the following 
      {{sorted_nms.size}} notional machines:
    </div>
    <div class="ui inverted steps">
      {% for nm in sorted_nms %}
        {% if nm.Step == page.Step %}
          <div class="active step">
            <div class="content">
              <div class="title">{{nm.Step}}. {{nm.StepTitle}}</div>
            </div>
          </div>
        {% else %}
          <a href="{{nm.url}}" class="step">
            <div class="content">
              <div class="title">{{nm.Step}}. {{nm.StepTitle}}</div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <div style="margin: 20px"></div>
  {% endif %}

  <div class="ui grid">
    <div class="six wide column">
      <img class="ui medium rounded bordered image" src="/assets/images/nm/{{ page.image }}"></img>
    </div>
    <div class="ten wide column">
      <h3>Programming Language</h3>
      <p>{{ page.ProgrammingParadigm }} / {{ page.ProgrammingLanguage }}</p>
      <h3>Form</h3>
      <p>{{ page.Form }}</p>
      <h3>Attribution &mdash; Origin / Source</h3>
      <p>
        Collected by
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        {% if author %}
          <span style="font-weight: bold; font-style: italic;">
            <a href="{{ author.url }}">{{ author.name }}</a>
          </span> &mdash;
        {% endif %}    
        {{ page.OriginSource }}
      </p>
    </div>
  </div>

  <h2 class="ui header">
    <i class="thumbs up icon"></i>
    <div class="content">
      Conceptual Advantage
    </div>
  </h2>
  <div class="ui yellow inverted segment">
    <p>{{ page.ConceptualAdvantage }}</p>    
  </div>


  <h2 class="ui header">
    <i class="table icon"></i>
    <div class="content">
      Mapping
    </div>
  </h2>
  <table class="ui compact inverted blue celled selectable table">
    <tr><th>PL</th><th>NM</th></tr>
    {% for entry in page.Mapping %}
      <tr>
        <td>{{ entry[0] }}</td>
        <td>{{ entry[1] }}</td>
      </tr>
    {% endfor %}
  </table>

  <h2 class="ui header">
    <i class="search icon"></i>
    <div class="content">
      Draws Attention To
    </div>
  </h2>
  {% assign stripped_draws = page.DrawsAttentionTo | strip_html | strip %}
  {% if stripped_draws == empty %}
  <div class='ui label'>not captured</div>
  {% else %}
  <p>{{ page.DrawsAttentionTo }}</p>
  {% endif %}

  <h2 class="ui header">
    <i class="compass icon"></i>
    <div class="content">
      Use When
    </div>
  </h2>
  {% assign stripped_use = page.UseWhen | strip_html | strip %}
  {% if stripped_use == empty %}
  <div class='ui label'>not captured</div>
  {% else %}
  <p>{{ page.UseWhen }}</p>
  {% endif %}

  <h2 class="ui header">
    <i class="dollar sign icon"></i>
    <div class="content">
      Cost
    </div>
  </h2>
  {% assign stripped_cost = page.Cost | strip_html | strip %}
  {% if stripped_cost == empty %}
  <div class='ui label'>not captured</div>
  {% else %}
  <p>{{ page.Cost }}</p>
  {% endif %}

  {% assign stripped_content = content | strip_html | strip %}
  {% if stripped_content != empty %}
  <h2 class="ui header">
    <i class="info circle icon"></i>
    <div class="content">
      Details
    </div>
  </h2>
  {{ content }}
  {% endif %}

  <div class="ui secondary segment" style="margin-top: 40px">
    <h2 class="ui header">Comments or Feedback?</h3>
      <p>
        Do you have feedback on this notional machine?
        Did you find a mistake, or do you have a request for improvement?
        You can create an Issue on GitHub, where the description is hosted.
        This way we can see your feedback and address it.
      </p>
      <p>
        For this, you need a GitHub account.
        Then follow this link to see the source file of this page.
        In there, click the ... left of the highlighted line,
        then pick "Reference in a new issue".
      </p>
      <p>
        <a class="ui button" href="https://github.com/notionalmachines/notionalmachines.github.io/blob/master/{{ page.path }}?plain=1#L2">Create an Issue on GitHub</a>
      </p>
    </div>

</div>